.forgot-password {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.forgot-password-form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 300px;
  border: 1px solid grey;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 5px 5px 8px grey;
}

.forgot-password-form .form-inputs-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.forgot-password-form input {
  width: 100%;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #000;
  outline: none;
  padding: 5px;
}

.forgot-password-form button {
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 16px;
}

.forgot-password-form button:hover {
  background: grey;
  color: #fff;
}
