.measurementsDetails {
  position: absolute;
  overflow-y: auto;
  overflow-x: hidden;
  justify-content: center;
  align-items: center;
  width: 400px;
  top: 50%;
  right: 50px;
}

.measurementsDetails h2 {
  text-align: center;
  margin: 30px;
}

.measurementsDetails h4 {
  margin-bottom: 10px;
}

.measurementsDetailsList {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
  row-gap: 5px;
}

.measurementsDetailsList li {
  display: flex;
  justify-content: space-between;
}

.measurementsDetails button {
  position: absolute;
  top: 0;
  right: 0px;
}
