.tasksPage .calendar-charts-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tasksPage .control {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.tasksPage button {
  padding: 5px;
  cursor: pointer;
}
