.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  border-bottom: 1px solid #ddd;
}

.header-nav {
  display: flex;
  gap: 15px;
}

.header-user-info {
  display: flex;
  gap: 30px;
}

.header button {
  padding: 10px;
  border-radius: 8px;
  border: transparent;
  cursor: pointer;
}
